body{
  font-family: 'Hind Siliguri', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
margin: 0px;
}
h1{
  font-size: 50px;
}
#color-contaner{
  color: purple;
}
.width-container{
  width: 50%;
  padding: 0 5%;
  padding-top: 30px;
}
.img-container{
  width: 50%;
  padding-top:50px;
}
.img-container img{
  width: 100%;
  
  border:4px solid rgb(255, 130, 47);
  border-radius: 15px;
  box-shadow: 2px 2px 8px 3px greenyellow;
}
.head-container{
  display: flex;
  padding: 30px;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.contact-button{
  background-color: greenyellow;
  color:rgb(29, 139, 75);
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  border: 3px solid green;
  box-shadow: 2px 2px 9px 2px rgb(255, 94, 0);
}
.width-container p{
  margin-bottom: 40px;
  color:gray;
  line-height: 28px;
  width: 550px;
  text-align: justify;
}


.container{
  width: 1400px;
  margin: 0 auto;
}
/* 2nd section styles */
.members{
  display: flex;
  grid-template-columns: repeat(5, 1fr);
}
.member{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.member-info{
  font-size: 40px;
  text-align: center;
}
/* responsive part in mobile device */

@media only screen and (max-width: 688px) {
  .head-container{
    display: grid;
  }
  .container{
    width: 100%;
  }
  .width-container p{
    width: 100%;
  }
  .width-container h1{
    font-size: 20px;
  }
  #head-title{
    text-align: center;
  }
  .members{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .member{
    flex-direction: column;
  }
}